<% if (messages.success && messages.success.length) { %>

    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
        <%= messages.success %>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
 
<% } %>

<% if (messages.error && messages.error.length) { %>

    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <%= messages.error %>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
 
<% } %>
<% if (messages.Delete && messages.Delete.length) { %>

  <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
      <%= messages.Delete %>

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } %>
<% if (messages.NewReview && messages.NewReview.length) { %>

  <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
      <%= messages.NewReview %>

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } %>
<% if (messages.NewReviewD && messages.NewReviewD.length) { %>

  <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
      <%= messages.NewReviewD %>

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } %>
<% if (messages.UserSuccess && messages.UserSuccess.length) { %>

  <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
      <%= messages.UserSuccess %>

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } %>
<% if (messages.usererror && messages.usererror.length) { %>

  <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
      <%= messages.usererror %>

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } %>
<% if (messages.userLogin && messages.userLogin.length) { %>

  <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
      <%= messages.userLogin %>

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } %>
<% if (messages.singin && messages.singin.length) { %>

  <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
      <%= messages.singin %>

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } %>
<% if (messages.logout && messages.logout.length) { %>

  <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
      <%= messages.logout %>

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } %>

<% if (messages.ownerAuth && messages.ownerAuth.length) { %>

  <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
      <%= messages.ownerAuth %>

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

<% } %>

