<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <form method="POST" action="/listing/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" value="<%= listing.title %>"   name="title" class="form-control"  required>
            <div class="valid-feedback">
                good;
              </div>
              <div class="invalid-feedback">
                enter this field;
              </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" class="form-control" cols="30" rows="3" required><%= listing.description %></textarea>
            <div class="valid-feedback">
                good;
              </div>
              <div class="invalid-feedback">
                enter this field;
              </div>
           
        </div>
        <div>
          <h6>Current Listing Image!</h6>
          <img style="height: 120px; width: 200px; object-fit: cover; " src="<%= orignalImage %>" alt="">
        </div>
        <div class="mb-3">
            <label for="url" class="form-label"> Upload New Image!</label>
            <input type="file"   name="listing[image]" class="form-control" >
            <div class="valid-feedback">
                good;
              </div>
              <div class="invalid-feedback">
                enter this field;
              </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="Price" class="form-label">Price</label>
                <input value =<%=listing.price %> type="number" min="0"    name="price" class="form-control" required>
                <div class="valid-feedback">
                    good;
                  </div>
                  <div class="invalid-feedback">
                    Enter a valid Price;
                  </div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="Country" class="form-label">Country</label>
                <input type="text" value="<%= listing.country %>"  name="country" class="form-control" required>
                <div class="valid-feedback">
                    good;
                  </div>
                  <div class="invalid-feedback">
                    enter this field;
                  </div>
            </div>

        </div>
        
        <div class="mb-3">
            <label for="Location" class="form-label">Location</label>
            <input type="text" value="<%= listing.location %>" name="location" class="form-control" required>
            <div class="valid-feedback">
                good;
              </div>
              <div class="invalid-feedback">
                enter this field;
              </div>
        </div>
        
        
        
        <br><br><br>
        <button class="new-btn">Add Place</button>
        <br><br><br>
    </form>
    </div>
</div>
</body>